<%- include('headerAndNav') %>

  <body>
    <div class="pageTitle navTopMargin">Sighting #<%=id%></div>
    <form action="/login" method="POST">
      <input type="text" name="email" />
      <input type="text" name="password" />
      <input type="submit" value="Submit">
    </form> 
   
    </div>
  </body>
  
<%-include('footer') %>
