/** @format */
.navTopMargin {
  margin-top: 60px;
}

.navBarBg {
  background-color: rgb(39, 188, 233);
}

.backgroundDisplay {
  position: relative;
  background: lightgrey;
  overflow: hidden;
  border-radius: 20px;
}

.backgroundDisplay h1 {
  padding: 135px;
  height: 300px;
  position: relative;
  color: white;
  font-size: 30px;
  z-index: 2;
}

h1 .display {
  padding: 10px;
}
.backgroundDisplay::before {
  content: " ";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0.7;
  background-image: url("/puffins.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.tableDisplay {
  min-height: 1000px;
}

.logo {
  width: 40px;
  height: auto;
  border-radius: 40px;
}

.loginDisplay {
  padding-top: 50px;
}

.signupDisplay {
  min-height: 1000px;
}
.submitBtn {
  width: 200px;
  text-align: center;
}
.logoutBtn {
  background: none !important;
  border: none;
}
.sightingContainer {
  background-color: lightyellow;
  margin-bottom: 20px;
}

.pageTitle {
  text-align: center;
  font-size: 30px;
}

.doneBtn {
  margin-bottom: 100px;
}

.required {
  color: red;
}

.table > tbody > tr > td[colspan] {
  padding-top: 0;
  padding-bottom: 0;
  vertical-align: middle;
}

.table > tbody > tr > td {
  padding: 0.75rem;
  vertical-align: middle;
}

.table > tbody > tr > th {
  padding: 0.75rem;
  vertical-align: middle;
}

.expand-button {
  position: relative;
}
.accordion-toggle .expand-button::after {
  font-family: "FontAwesome";
  position: absolute;
  content: "\f0d8";
  transform: translate(0px, -15px);
  font-size: 20px;
}

.accordion-toggle.collapsed .expand-button::after {
  font-family: "FontAwesome";
  position: absolute;
  content: "\f0d7";
  transform: translate(0px, -15px);
  font-size: 20px;
}

.actionBtns {
  width: 300px;
}

.videoDisplay {
  position: relative;
  background: lightgrey;
  overflow: hidden;
}

.videoDisplay p {
  padding: 70px;
  height: 500px;
  position: relative;
  color: white;
  font-size: 30px;
  z-index: 2;
}

h1 .display {
  padding: 10px;
}
.videoDisplay::before {
  content: " ";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0.7;
  background-image: url("/puffins.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.on-top {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
}

.viewingList {
  text-align: center;
}
